server:
  port: 8080

spring:
  application:
    name: franchise-api
  data:
    mongodb:
      host: ${MONGODB_HOST:localhost}
      port: ${MONGODB_PORT:27017}
      database: ${MONGODB_DATABASE:franchise_db}
      username: ${MONGODB_USERNAME:}
      password: ${MONGODB_PASSWORD:}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.franchise.api: DEBUG
    org.springframework.data.mongodb: DEBUG
