server:
  port: 8080

spring:
  application:
    name: franchise-api
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/franchise_db}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.franchise.api: DEBUG
    org.springframework.data.mongodb: DEBUG
